@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/LandingPage.css" />

@if (User.Identity.IsAuthenticated)
{
    <h1 class="text-light">USER WITH EMAIL @User.Identity.Name IS LOGGED IN...</h1>

    

}
else
{
    <section class="showcase">
        <div class="video-container">
            <video src="~/videos/background.mp4" autoplay muted loop></video>
        </div>
        <div class="content">
            <div class="row" style="margin-left: -80px;">
                <img src="~/images/logo.png" style="height: 400px; width: 400px;" />
            </div>
            <div class="row" style="margin-top: -30px;">
                <a asp-area="Identity" asp-page="Account/Login" class="btn" style="max-width: 250px;">LOGIN</a>
                <a asp-area="Identity" asp-page="Account/Register" class="btn" style="max-width: 250px;">REGISTER</a>
            </div>
        </div>
    </section>

    <section id="about">
        <h1>About</h1>
        <p>
            This is a landing page with a full screen video background. Feel free to
            use this landing page in your projects. keep adding sections, change the
            video, content , etc
        </p>

        <h2>Follow Me On Social Media</h2>

        <div class="social">
            <a href="https://twitter.com/traversymedia" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>
            <a href="https://facebook.com/traversymedia" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
            <a href="https://github.com/bradtraversy" target="_blank"><i class="fab fa-github fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/bradtraversy" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
        </div>
    </section>
}
