@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/LandingPage.css" />

<section class="showcase">
    <div class="video-container">
        <video src="~/videos/background.mp4" autoplay muted loop></video>
    </div>
    <div class="content">
        <h1>Detail&Go</h1>
        <h3>Proffesional car detailing service</h3>
        <a href="#about" class="btn">SEE WHAT WE CAN DO!</a>
        <a href="#about" class="btn">REGISTER</a>
    </div>
</section>

