@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/LandingPage.css" />

@if (User.Identity.IsAuthenticated)
{
    <h1 class="text-light">USER WITH EMAIL @User.Identity.Name IS LOGGED IN...</h1>
    <script>
        $('#carModel').text('@ViewData["CarModel"]');
        $('#carModelMobile').text('@ViewData["CarModel"]');
        console.log('Car model: ' + '@ViewData["CarModel"]');
    </script>

    

}
else
{
    <section class="showcase">
        <div class="video-container">
            <video src="~/videos/background.mp4" autoplay muted loop></video>
        </div>
        <div class="content">
            <div class="row" style="margin-left: -80px;">
                <img src="~/images/logo.png" style="height: 400px; width: 400px;" />
            </div>
            <div class="row" style="margin-top: -30px;">
                <a asp-area="Identity" asp-page="Account/Login" class="btn" style="max-width: 250px;">LOGIN</a>
                <a asp-area="Identity" asp-page="Account/Register" class="btn" style="max-width: 250px;">REGISTER</a>
            </div>
        </div>
    </section>

    <section id="about">
        <h1 class="text-light">About</h1>
        <p class="text-light">
            Detail&Go is fine detailing and valeting service for you car.
            We are here to make you proud of your car!
        </p>

        <h2 class="text-secondary">Follow Detail&Go On Social Media</h2>

        <div class="social">            
            <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>            
            <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube fa-3x"></i></a>
        </div>
    </section>
}
