<link rel="stylesheet" href="~/css/Services.css" />

<style>
    .date-picker {
        font-size: 20px;
        background-color: #555;
        color: #fff;
        border: none;
    }

    .time-button {
        color: #ccc;
        border: 1px solid #777;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
    }

        .time-button:hover {
            background-color: #555;
        }

    .time-button-active {
        color: #000;
        background-color: #fff;
        border: 1px solid #000;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
    }

    -webkit-calendar-picker-indicator {
        color: #fff;
    }
</style>


<!-- Date & Time Modal -->
<div class="modal fade" id="dateTimeModal" tabindex="-1" role="dialog" aria-labelledby="DateTimeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: rgba(50, 50, 50, 0.0); border: none;">
            <div class="modal-body">
                <div class="row">
                    <h2 class="text-light text-center" id="carsModalLabel" style="font-size: 24px;">When we should visit you?</h2>
                </div>

                <div class="row text-center" style="width: 50%; margin: 0px auto;">
                    <input type="date" id="datePicker" class="date-picker" vaule="new date()" />
                </div>
                <div class="row" style="width:50%; margin: 0 auto;" id="timesSection">
                </div>
                <div class="row" style="margin: 20px auto; width: 50%;">
                    <a class="btn btn-outline-success btn-block disabled" href="#" id="confirmDateTimeBtn">CONFIRM</a>
                    <a class="btn btn-outline-secondary" style="margin-top: 20px;" data-bs-dismiss="modal" id="cancelServicesBtn">Cancel</a>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    datePicker.min = new Date().toISOString().split("T")[0];
    $('#datePicker').on('change', function () {
        console.log('changed to ' + $('#datePicker').val());
        $('#confirmDateTimeBtn').removeClass('btn-success');
        $('#confirmDateTimeBtn').addClass('btn-outline-success');
        $('#confirmDateTimeBtn').addClass('disabled');
        $.ajax({
            url: "/CreateBooking?handler=SetAvailableTimesByDate",
            data: { date: $('#datePicker').val() },
            type: "GET",
            async: false,
            cache: false,
            beforeSend: function () {
                $('#timesSection').slideUp(500);
            },
            success: function (data) {
                setTimeout(() => {
                    if (data.length > 0) {
                        $('#timesSection').html(data);
                    }
                    else {
                        $('#timesSection').html('No available times');
                    }
                    $('#timesSection').slideDown(500);
                }, 500);
            },
            error: function (error) {
                console.log(error);
            },
            complete: function () {
                console.log('finished...');
            },
        });
    });

    $('#confirmDateTimeBtn').on('click', function () {
        console.log('confirm clicked');
        $('#dateTimeContent').text($('#datePicker').val() + ' ' + selTime);
        let selected = $('#datePicker').val() + ' ' + selTime;
        booking.dateTime = selected;
        booking.dateTimeSelected = true;
        console.log(booking);
        $('#dateTimeCheck').slideDown(1000);
        $('#dateTimeModal').modal('hide');
    });    
</script>

<script src="~/js/Utility.js"></script>