<link rel="stylesheet" href="~/css/Services.css" />

<style>
    .date-picker {
        font-size: 20px;
    }

    .time-button {
        color: #ccc;
        border: 1px solid #777;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;        
    }

    .time-button:hover {
        background-color: #555;
    }

    .time-button-active {
        color: #000;
        background-color: #fff;
        border: 1px solid #000;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;        
    }
</style>


<!-- Date & Time Modal -->
<div class="modal fade" id="dateTimeModal" tabindex="-1" role="dialog" aria-labelledby="DateTimeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: rgba(50, 50, 50, 0.7)">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h2 class="modal-title text-light" id="carsModalLabel" style="font-size: 24px;">When we should visit you?</h2>
                    </div>
                    <div class="col">
                        <a class="float-end" data-bs-dismiss="modal" aria-label="Close" style="background-color: transparent;" href="#">
                            <span class="text-dark"><i class="fa fa-times" style="font-size: 22px;"></i></span>
                        </a>
                    </div>
                </div>
                <hr class="bg-light" />
                <div class="row text-center" style="width: 50%; margin: 0px auto;">
                    <input type="date" id="datePicker" class="date-picker" />
                </div>
                <div class="row" style="margin-top: 20px;">
                    <label class="text-light text-center">
                        Available Times
                    </label>
                </div>
                <div class="row" style="width:50%; margin: 0 auto;">
                    @foreach (string time in Model.AvailableTimesString)
                    {
                        <div class="col-6 col-md-4" style="margin-bottom: 10px;">
                            <div class="time-button" id="time-@time.Replace(":", "")">@time</div>
                        </div>

                        <script>
                            $('#time-@time.Replace(":", "")').on('click', function () {
                                if ($('#time-@time.Replace(":", "")').hasClass('time-button')) {
                                    $('.time-button-active').addClass('time-button');
                                    $('.time-button-active').removeClass('time-button-active');
                                    $('#time-@time.Replace(":", "")').removeClass('time-button');
                                    $('#time-@time.Replace(":", "")').addClass('time-button-active');
                                }
                                else {
                                    $('#time-@time.Replace(":", "")').removeClass('time-button-active');
                                    $('#time-@time.Replace(":", "")').addClass('time-button');
                                }
                            });
                        </script>
                    }

                </div>
                <div class="row" style="margin: 20px 100px;">
                    <a class="btn btn-outline-secondary btn-block disabled" href="#" id="confirmServicesBtn">CONFIRM</a>
                    <a class="btn btn-outline-secondary" style="margin-top: 20px;" href="#" id="cancelServicesBtn">Cancel</a>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $('#datePicker').on('change', function () {
        console.log('changed to ' + $('#datePicker').val());
    });
</script>


<script src="~/js/Utility.js"></script>