<link rel="stylesheet" href="~/css/Services.css" />

<!-- Date & Time Modal -->
<div class="modal fade" id="dateTimeModal" tabindex="-1" role="dialog" aria-labelledby="DateTimeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: rgba(50, 50, 50, 0.7)">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h2 class="modal-title text-light" id="carsModalLabel" style="font-size: 24px;">When we should visit you?</h2>
                    </div>
                    <div class="col">
                        <a class="float-end" data-bs-dismiss="modal" aria-label="Close" style="background-color: transparent;" href="#">
                            <span class="text-dark"><i class="fa fa-times" style="font-size: 22px;"></i></span>
                        </a>
                    </div>
                </div>
                <hr class="bg-light" />               
                       
                <div class="row" style="margin: 20px 100px;">
                    <a class="btn btn-outline-secondary btn-block disabled" href="#" id="confirmServicesBtn">CONFIRM</a>
                    <a class="btn btn-outline-secondary" style="margin-top: 20px;" href="#" id="cancelServicesBtn">Cancel</a>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/js/Utility.js"></script>