<style>
    a {
        text-decoration: none;
        color: #fff;
    }

    .accordion-button {
        transform: rotate(180) !important;
    }

        .accordion-button:after {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
            transform: rotate(0) !important;
        }

    .vert-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .customise-button {
        background-color: #666;
        transition-duration: .5s;
    }

        .customise-button:hover {
            background-color: #999;
            color: #000;
        }
</style>

<!-- Services Modal -->
<div class="modal fade" id="servicesModal" tabindex="-1" role="dialog" aria-labelledby="servicesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: rgba(50, 50, 50, 0.7)">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h2 class="modal-title text-light" id="carsModalLabel" style="font-size: 24px;">Select Services</h2>
                    </div>
                    <div class="col">
                        <a class="float-end" data-bs-dismiss="modal" aria-label="Close" style="background-color: transparent;" href="#">
                            <span class="text-dark"><i class="fa fa-times" style="font-size: 22px;"></i></span>
                        </a>
                    </div>
                </div>
                <hr class="bg-light" />
                <div class="row">
                    <div class="row text-light">
                        @foreach (var service in Model.AllServices)
                        {
                            <div class="col-md-6" style="margin-bottom: 10px;">
                                <div class="card bg-dark" style="margin-bottom: 20px; height: 100%;">
                                    <div class="card-header">
                                        <h2 class="text-light">@service.Name</h2>
                                    </div>
                                    <div class="card-body">
                                        <label class="text-light">@service.Description</label>
                                    </div>
                                    @if (service.IsCustomisable)
                                    {
                                        <div class="card-footer">
                                            <div class="accordion" id="accordion-@service.Id">
                                                <div class="accordion-item" style="background-color: rgba(70, 70, 70, .2);">
                                                    <h2 class="accordion-header" id="heading-@service.Id">
                                                        <div class="accordion-button" style="color: #fff; background-color: rgba(70, 70, 70, .4)" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@service.Id" aria-expanded="false" aria-controls="collapse-@service.Id">
                                                            <label class="text-light">Customise</label>
                                                        </div>
                                                    </h2>
                                                    <div id="collapse-@service.Id" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion-@service.Id">
                                                        <div class="accordion-body">
                                                            <a href="" class="btn btn-outline-secondary" style="width: 100%; margin: 5px;">SubService 1</a>
                                                            <a href="" class="btn btn-outline-secondary" style="width: 100%; margin: 5px;">SubService 2</a>
                                                            <a href="" class="btn btn-outline-secondary" style="width: 100%; margin: 5px;">SubService 3</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="row" style="margin: 20px 100px;">
                    <a class="btn btn-outline-secondary btn-block disabled" href="#" id="confirmServicesBtn">CONFIRM</a>
                    <a class="btn btn-outline-secondary" style="margin-top: 20px;" href="#" id="cancelServicesBtn">Cancel</a>
                </div>
            </div>
        </div>
    </div>

</div>