<!-- Confirm Decline Modal -->
<div class="modal fade" id="confirmDeclineModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmDeclineModalLabel" aria-hidden="true" style="border: 5px groove #f00;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: rgba(50, 50, 50, 1); border: none; box-shadow: 0px 0px 40px 5px #000;">
            <div class="modal-body">
                <div class="row">
                    <h2 class="text-danger text-center" style="font-size: 24px;">Decline booking #@Model.booking.Id</h2>
                </div>
                <div class="row">
                    <hr style="color: #f00; height: 5px;" />
                </div>
                <div class="row text-center text-light" style="width: 50%; margin: 0px auto;">
                    <label>Reason</label>
                    <textarea id="reasonText" style="background-color: rgba(0, 0, 0, 0.5); color: #bbb; border: 0px; padding: 5px;" rows="5"></textarea>
                </div>
                <div class="row" style="margin: 20px auto; width: 50%;">
                    <a class="btn btn-danger btn-block" id="confirmDeclineBtn"><i class="fa fa-skull-crossbones"></i> DECLINE</a>
                    <a class="btn btn-outline-secondary" style="margin-top: 20px;" data-bs-dismiss="modal" id="cancelDeclineBtn">CANCEL</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#confirmDeclineBtn').on('click', function () {
        console.log('HURRAAAYYY');
        let reason = jQuery('#reasonText').val();
        declineBooking(reason);
    });

    function declineBooking(reason) {        
        let result = false;
        jQuery.ajax({
            url: "?handler=DeclineBooking",
            data: { bookingId: @Model.booking.Id, reason: reason },
            type: "GET",
            async: false,
            cache: false,
            beforeSend: function () {

            },
            success: function (data) {
                result = true;
            },
            error: function (error) {
                console.log(error);
                result = false;
            },
            complete: function () {
                console.log('finished...');
                location.reload();
            },
        });
        return result;
    }
</script>