@page
@model DetailAndGoAdmin.Pages.Services.AddServiceModel

@{
    ViewData["Title"] = "Add New Service";
    //Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    #container {
        width: 1000px;
        margin: 20px auto;
        background-color: #333;
    }

    .ck-editor__editable[role="textbox"] {
        /* editing area */
        min-height: 200px;
        background-color: #333;
        color: #000;
    }

    .ck-content .image {
        /* block images */
        max-width: 80%;
        margin: 20px auto;
    }
</style>

<link rel="stylesheet" href="~/css/AddService.css" />
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/ckeditor/ckeditor.js"></script>

<div class="text-light main-box" style="margin: 20px;">

    <div class="row child-box shadow">
        <h4 id="caption-text">Add New Service</h4>
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Service.Category" />
                <input type="hidden" asp-for="Service.Image" />
                <input type="hidden" asp-for="Service.PriceId" />
                <input type="hidden" asp-for="Service.SubServices" id="subservicesHidden" />
                <input type="hidden" asp-for="Service.PriceLargeId" />
                <input type="hidden" asp-for="Service.PriceMediumId" />
                <input type="hidden" asp-for="Service.StripeServiceId" />
                <input type="hidden" asp-for="SelectedSubServices" value="" id="selectedSubS" />
                <div class="text-warning" style="margin: 20px 0px;">
                    Service
                    <label class="form-check-label form-switch">
                        <input class="form-check-input subservice-check" asp-for="Service.IsSubService" id="subserviceCheck" data-onstyle="danger" /> Sub-Service
                    </label>
                    <span asp-validation-for="Service.IsSubService" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon text-warning">Name</span>
                    <input asp-for="Service.Name" class="add-input" type="text" />
                    <span asp-validation-for="Service.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Service.Description" class="control-label text-warning"></label>
                    <input asp-for="Service.Description" class="add-input" />
                    <span asp-validation-for="Service.Description" class="text-danger"></span>
                </div>
                @{
            /*
        <div class="form-group" id="superDescSection">
        <label asp-for="Service.SuperDescription" class="control-label text-warning">Detailed Description</label>
        <textarea asp-for="Service.SuperDescription" class="add-input" id="superText" rows="6" style="height: 110px;" ></textarea>
                    </div>
                    */
                }

                <div class="form-group" id="superDescSection" style="margin-bottom: 20px;">
                    <label asp-for="Service.SuperDescription" class="control-label text-warning">Detailed Description</label>
                    <textarea id="editor" asp-for="Service.SuperDescription"></textarea>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label text-warning"><i class="fa fa-sterling-sign"></i> Small</label>
                            <input asp-for="Service.Price" class="add-input" type="number" />
                            <span asp-validation-for="Service.Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label text-warning"><i class="fa fa-sterling-sign"></i> Medium</label>
                            <input asp-for="Service.PriceMedium" class="add-input" type="number" />
                            <span asp-validation-for="Service.PriceMedium" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label text-warning"><i class="fa fa-sterling-sign"></i> Large</label>
                            <input asp-for="Service.PriceLarge" class="add-input" type="number" />
                            <span asp-validation-for="Service.PriceLarge" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <label class="control-label text-warning"><i class="fa fa-clock"></i> Small</label>
                            <input asp-for="Service.TimeToFinishMinsS" class="add-input" />
                            <span asp-validation-for="Service.TimeToFinishMinsS" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4">
                            <label class="control-label text-warning"><i class="fa fa-clock"></i> Medium</label>
                            <input asp-for="Service.TimeToFinishMinsM" class="add-input" />
                            <span asp-validation-for="Service.TimeToFinishMinsM" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4">
                            <label class="control-label text-warning"><i class="fa fa-clock"></i> Large</label>
                            <input asp-for="Service.TimeToFinishMinsL" class="add-input" />
                            <span asp-validation-for="Service.TimeToFinishMinsL" class="text-danger"></span>
                        </div>
                    </div>

                    <script>
                        let selectedSubServices = [];
                    </script>

                    <div class="row" style="margin-top: 20px;" id="subservices-section">
                        @if (Model.SubServices != null && Model.SubServices.Count > 0)
                        {
                            <label class="text-center text-warning" style="margin-bottom: 18px; font-size: 14px;"><i class="fa fa-list"></i> Add Sub-Services</label>

                            @foreach (var subservice in Model.SubServices)
                            {
                                <div class="col-4" style="margin-bottom: 10px;">
                                    <div class="service-button bg-dark" id="subservice-@subservice.Id"><label style="cursor: crosshair;">@subservice.Name</label></div>
                                </div>

                                <script>
                                    $(function ($) {
                                        $('#subservice-@subservice.Id').on('click', function () {
                                            if ($('#subservice-@subservice.Id').hasClass('bg-dark')) {
                                                $('#subservice-@subservice.Id').removeClass('bg-dark');
                                                $('#subservice-@subservice.Id').addClass('bg-primary');
                                                $('#subservice-@subservice.Id').prepend('<i class="fa fa-circle-check" style="margin-top: 5px; margin-right: 5px;"></i> ');
                                                selectedSubServices.push(@subservice.Id);
                                            }
                                            else {
                                                $('#subservice-@subservice.Id').removeClass('bg-primary');
                                                $('#subservice-@subservice.Id').addClass('bg-dark');
                                                $('#subservice-@subservice.Id').text('@subservice.Name');
                                                selectedSubServices.remove(@subservice.Id);
                                            }
                                            console.log(selectedSubServices);
                                            $('#subserviceHidden').val(selectedSubServices);
                                            $('#selectedSubS').val(selectedSubServices);
                                        });
                                    });
                                </script>
                            }
                        }
                    </div>


                </div>
                <div class="form-group row" style="margin-top: 20px;">
                    <input type="submit" value="Add" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function ($) {
        $('#subserviceCheck').on('click', function () {
            if ($('#subserviceCheck').is(':checked')) {
                $('#subservices-section').slideUp(500);
                $('#superDescSection').slideUp(500);
                $('#caption-text').text('Add New Sub-Service');
                $('#superText').val('SubService');
            }
            else {
                $('#superText').val('');
                $('#subservices-section').slideDown(500);
                $('#superDescSection').slideDown(500);
                $('#caption-text').text('Add New Service');
            }
        });
    });
</script>

<script src="~/js/Utility.js"></script>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


