/* Style the form */
#regForm {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 10px 15px 20px 10px rgba(0, 0, 0, 0.5);
}



/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;    
    border: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

    /* Mark input boxes that gets an error on validation: */
    input.invalid {
        border: 1px solid rgba(255, 0, 0, 0.3);
        background-color: rgba(255, 0, 0, 0.05);
    }

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

    /* Mark the active step: */
    .step.active {
        opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #04AA6D;
    }

@media (max-width: 1000px) {
    #regForm {
        margin-top: 150px;
        width: 100%;        
        font-size: 3rem;
    }

    input {
        font-size: 5rem;
    }

    .register-caption {
        font-size: 6rem;
    }

    #nextBtn {
        font-size: 4rem;
    }

    #prevBtn {
        font-size: 4rem;
    }
}


