a {
    text-decoration: none;
    color: #fff;
}

.accordion-button {
    transform: rotate(180) !important;
}

    .accordion-button:after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
        transform: rotate(0) !important;
    }

.vert-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.extra-service {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 10px;
    transition: all 1s;
    transition-duration: 1s;
    animation-duration: 1s;
}

.extra-service-off {
    background: #0F2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.card-gradient {
    background: #0F2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.service-header-gradient {
    background-image: linear-gradient(to right, #00b09b, #96c93d);
}

.service-header-gradient-off {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}


.service-card {
    margin-bottom: 0px;
    height: 100%;
    box-shadow: 0px 0px 15px 1px #00000088;
    border: 0px solid #fff;
    width: 100%;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.service-body-gradient {
    background-image: linear-gradient( 112.1deg, rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
    /*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
}

.customise-button {
    background-color: #666;
    transition-duration: .5s;
}

    .customise-button:hover {
        background-color: #999;
        color: #000;
    }

.modal-dialog {
    min-width: 60% !important;
}

@media (max-width: 768px) {
    .modal-dialog {
        min-width: 100%;
    }
}
