a {
    text-decoration: none;
    color: #fff;
}

.accordion-button {
    transform: rotate(180) !important;
}

    .accordion-button:after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
        transform: rotate(0) !important;
    }

.vert-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-card {
    margin-bottom: 20px;
    height: 100%;
    border: 0px;
}

.customise-button {
    background-color: #666;
    transition-duration: .5s;
}

    .customise-button:hover {
        background-color: #999;
        color: #000;
    }

.modal-dialog {
    min-width: 60% !important;
}

@media (max-width: 768px) {
    .modal-dialog {
        min-width: 100%;
    }
}
