@import url('https://fonts.googleapis.com/css?family=Stick%20No%20Bills&display=swap');

@font-face {
    font-family: 'Digital-7';
    src: url('../fonts/Digital-7.woff2') format('woff2'), url('../fonts/Digital-7.woff') format('woff'), url('../fonts/Digital-7.ttf') format('truetype'), url('../fonts/Digital-7.svg#Digital-7') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0px;
    font-family: Stick No Bills;
    background: linear-gradient(287deg, rgba(69,69,69,1) 0%, rgba(33,33,33,1) 100%);
    background-size: 400% 400%;
    animation: gradient 30s  backwards infinite;
}

a {
    text-decoration: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.card-item {
    width: 100%;
    height: 100%;
    background: linear-gradient(287deg, rgba(140,140,140,0.1) 0%, rgba(255,255,255,0.1) 100%);
    box-shadow: 2px 2px 15px 4px #222;
    transition: transform .2s;
    padding: 15px;
}

    .card-item:hover {
        box-shadow: 2px 2px 15px 2px #111;
    }

.car-image {
    display: flex;
    position: relative;
    margin-top: -60px;
    margin-left: -80px;
    height: 200px;
}

@media (max-width: 768px) {
    .card-item {
        margin-top: 10px;
    }

        .card-item:hover {
            transform: scale(1);
        }
}

.move-car {
    transition: ease-in-out;
    transition-duration: 0.5s;
}

    .move-car:hover {
        transform: translateX(-20px);
        transform: scale(1.08);
    }

.zoom-on-hover {
    transition: ease-in-out;
    transition-duration: 0.5s;
}

.zoom-on-hover:hover {
    transform: scale(1.05);
}

.show-on-mobile {
    display: none;
}

@media (max-width: 768px) {
    .show-on-mobile {
        display: flex;
    }
}

.show-on-desktop {
    display: flex;
}

@media (max-width: 768px) {
    .show-on-desktop {
        display: none;
    }
}

very-big-modal {
    width: 1200px;
}

.confirm-booking-button {
    width: 100%;
    height: 80%;    
    background-color: rgba(60, 130, 50, 1);
    border-radius: 5px;
    border: 1px solid #222;
    cursor: not-allowed;
}

.modal.fade.show {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

