<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Detail&Go</title>
    <!--<link rel="stylesheet" href="~/css/Background.css" />-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DetailAndGo.styles.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        
        
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
        @{/*<ul class="circles">
            <li><img src="~/images/logo.png" height="100" style="opacity: 0.3"/></li>
            <li></li>
            <li></li>
            <li></li>
            <li><img src="~/images/logo.png" height="100" style="opacity: 0.3"/></li>
            <li></li>
            <li></li>
            <li></li>
            <li><img src="~/images/logo.png" height="100" style="opacity: 0.3" /></li>
            <li></li>
        </ul>*/}
    </div>

    <script src="~/js/MainMenu.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>