<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DetailAndGo</title>
    <link rel="stylesheet" href="~/css/Background.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DetailAndGo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MainMenu.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        
        <div class="xs-menu-cont">
            
            <a id="menutoggle"><i class="fa fa-align-justify"></i> </a>
            <nav class="xs-menu displaynone">
                <ul>
                    <li class="active">
                        <a asp-page="Index">Home</a>
                    </li>
                    <li>
                        <a asp-page="Valeting">Valeting</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>

                </ul>
            </nav>
        </div>
        <nav class="menu">
            
            <ul>                
                <li class="active" id="menuHome">
                    <a asp-page="Index">Home</a>
                </li>
                <li id="menuValeting">
                    <a asp-page="Valeting">Valeting</a>
                </li>
                <li>
                    <a href="#">Detailing</a>
                </li>
                <li>
                    <a href="#">Gallery</a>
                </li>
                <li>
                    <a href="#">About</a>

                </li>
                <li>
                    <a target="_blank" href="http://www.mywebtricks.com/">Contact</a>
                </li>
                <li style="float:right;">
                    <a href="#" id="carModelMainMenu"><i class="fa fa-car"></i> Skoda 120L</a>
                </li>
                <li style="float:right;">
                    <a href="http://www.mywebtricks.com/"><i class="fa fa-user"></i> My Account</a>
                </li>

            </ul>

        </nav>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <script src="~/js/MainMenu.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>